name: release

on:
  push:
    tags:
      - "v*" # Trigger only when you push a tag starting with 'v'

permissions:
  contents: write # Needed to create the GitHub Release

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for GoReleaser to work properly

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22" # Match your local Go version
          cache: true
      - name: Set up SSH key for AUR
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AUR_SSH_KEY }}" > ~/.ssh/aur_key
          chmod 600 ~/.ssh/aur_key

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          AUR_SSH_KEY: /home/runner/.ssh/aur_key
